.modal {
  overflow: hidden;
}

.event-modal-title {
  font-size: 200%;
}

.event-modal-element {
  text-align: left;
}

.modal-footer {
  padding-right: 5% !important;
  margin-bottom: 3% !important;
}