*, *:before, *:after {
    box-sizing: border-box;
}


html {
    overflow:hidden;
    background: url("../images/agenda.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
  position: relative;
  margin-left: 5%;
  transform: translateY(-50%);
}


#form-div{
  background-color:rgba(19, 35, 47, 0.9);
  padding: 2% 4% 2% 4%;
  width: 30%;
  float: left;
  left: 50%;
  position: absolute;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  text-align: center;

}

a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
a:hover {
    color: #179b77;
}
.forgot a {
    color: rgb(26, 177, 136);
}
.forgot a:hover {
    color: rgba(255, 255, 255, .5);
}

.tab-group {
    list-style: none;
    padding: 0;
  margin: 0 0 1% 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 14px;
    float: left;
    width: 50%;
    height: 40px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    border-radius: 2px;
}
.tab-group > li > a:hover {
    background: #179b77;
    color: #ffffff;
}
.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}


label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}
label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input {
  margin-bottom: 0 !important;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    //margin-bottom: 20px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;

}
.top-row > div:last-child {
    margin: 0;
  font-size: 1rem;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;

}
.button:hover, .button:focus {
    background: #179b77;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
  bottom: 2%;
  left: 5%;
  position: absolute;
}

#login {
  padding-bottom: 8%;
}

#app-title{
  padding: 1%;
  text-align: left;
  margin-left: 1.5%;
  margin-top: 0.2%;
  color: white;
  font-size: 400%;
  font-family: 'Indie Flower', cursive;
}


#wrong-credentials {
  background-color: rgba(160, 179, 176, 0.25);
  padding: 1%;
  margin-bottom: 3%;
  margin-top: 5%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 4px;
  border: 2px solid red;
  color: white;
}

#button-subscribe {
  margin-top: 8%
}

#button-events {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36%;
}


@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
